In [ ]:
import pandas as pd 
data=pd.read_csv(r"C:\Users\anit4\OneDrive\Desktop\Book2.csv")
print(data)

In [ ]:
a=data['salary'].idxmax()
print(data.loc[a,['name','age']])

In [ ]:
print(data.head(2))
print(data.tail(2))

In [ ]:
#read excel file
import pandas as pd
exl=pd.read_excel(r"C:\Users\anit4\OneDrive\Desktop\data_sheet.xlsx")
print(exl)

In [ ]:
print(exl.head())
print(exl.tail(3))

In [ ]:
data=pd.read_csv(r"C:\Users\anit4\OneDrive\Desktop\Book2.csv",index_col='name')
print(data)

In [ ]:
print(data["age"])
print(data[data['age']==18])

In [ ]:
print(data.loc['anit'])
print(data.ndim)
print(data.iloc[2])
d=data.reset_index()
print(d)

In [ ]:
print(d[['name','age']])
print(d[1:3])

insert() : in this method we can add new column in our desired location(it changes the original dataframe)
assign() : in this method we can add new columns at the end(it returns a new set of dataframe dont modify the original dataframe)
dataframename.insert(loc,columnname,dataofthe newcolumn)
dataframename.assign(columnname=[data])

In [ ]:
#add new columns
d.insert(2,'rank',[1,5,2,3,4,2,0])
print(d)

In [ ]:
s=d.assign(address=['india','australia','argentina','brasil','england','srilanka','china'])
print(s)

In [ ]:
#drop a column
#we can set axis =1 or axis=column
s=s.drop('rank',axis='columns')
print(s)

In [ ]:
#drop a row
#we can use axis=0 or axis='index'
#here 2 is level or index
s=s.drop(2,axis=0)
print(s)

to iterate over rows and columns
iterrows
itertuples

In [ ]:
#iterate over rows
for row in s.iterrows():
    print(row)
for col in s.itertuples():
    print(col)

In [ ]:
#iter over columns
for i in s.items():
    print(i[0])

In [ ]:
#sort the data 
s.sort_values(by=['salary']) #sort in ascending order on the basis of salary

In [ ]:
s.sort_values(by=['salary'],ascending=False) #sort in dsc order

handle duplicates in pandas
duplicated()->find duplicates
drop_duplicates()->remove duplicates

In [ ]:
new_row = pd.DataFrame({'name': ['Anit'], 'age': [18], 'profession': ['doctor'], 'salary': [18000], 'address': ['India']})

# Concatenate the new row to the original DataFrame
s = pd.concat([s, new_row], ignore_index=True)

print(s)

In [ ]:
print(s.duplicated(subset='name')) #find duplicate name is present or not

In [ ]:
res=s.drop_duplicates(subset='name')
print(res)

#cleaning of data
1. isnull() : find the null values and replace them with true
2. notnull() : find the not null values and replace them with true
3. df.dropna() : drop rows with null values
4. df.fillna(x) : replace null value with a specific value

In [ ]:
import pandas as pd
df=pd.read_csv(r"C:\Users\anit4\OneDrive\Desktop\Book2.csv")
print(df)

In [ ]:
df.isnull()

In [ ]:
df.notnull()

In [ ]:
data=df.dropna()
print(data)

In [ ]:
data=df.fillna(500)

In [ ]:
print(data)

# string operation on text data
# lower() : perform lower case on text data
# upper() : perform uppercase on text data
# title() : perform camel case on text data
# len() : to get the length of each element
# count() : count the nonempty cells for each column and rows
# contains() : search for a value in column

In [ ]:
for i in data.itertuples():
    a=i.name
    print(a.upper())
    print(len(i.name))
print(data['name'].str.contains("anit"))