A Series in Pandas is a one-dimensional labeled array capable of holding any data type (integers, strings, floating-point numbers, Python objects, etc.). Each element in a Series is associated with an index, which allows for fast and easy data alignment and retrieval. It can be thought of as a column in a DataFrame or as a dictionary where the keys are the index values.

In [3]:
import pandas as pd
data=['anit','rahul','rohan','sahil']
s=pd.Series(data,index=[1,2,3,4])
print(s)

1     anit
2    rahul
3    rohan
4    sahil
dtype: object

In [4]:
print(s[2])

rahul

In [9]:
print(s.dtype)
print(s.ndim)
print(s.size)
print(s.info)

object
1
4
<bound method Series.info of 1     anit
2    rahul
3    rohan
4    sahil
dtype: object>

In [12]:
#set the name of a series
s=pd.Series(data,name='random')
print(s)
print(s.hasnans)

0     anit
1    rahul
2    rohan
3    sahil
Name: random, dtype: object
False

In [13]:
print(s.index)

RangeIndex(start=0, stop=4, step=1)

In [14]:
print(s.head(5))
print(s.tail(2))

0     anit
1    rahul
2    rohan
3    sahil
Name: random, dtype: object
2    rohan
3    sahil
Name: random, dtype: object

In [15]:
print(s.info)

<bound method Series.info of 0     anit
1    rahul
2    rohan
3    sahil
Name: random, dtype: object>

In [18]:
#combine two data series
data1=[1,10,20,58,1,32]
data2=[0,12,5,20,100,4]
s1=pd.Series(data1)
s2=pd.Series(data2)
def demo(a,b):
    if(a>b):
        return a
    else:
        return b
res=s1.combine(s2,demo) #demo is the check function
print(res)

0      1
1     12
2     20
3     58
4    100
5     32
dtype: int64

In [19]:
import pandas as pd
l=['apple','banana','mango','lichi','apple','banana','mango','lichi']
sr=pd.Series(l,dtype='category')
print(sr)

0     apple
1    banana
2     mango
3     lichi
4     apple
5    banana
6     mango
7     lichi
dtype: category
Categories (4, object): ['apple', 'banana', 'lichi', 'mango']

In [23]:
#add a category
c=sr.cat.add_categories("royal")
print(c)

0     apple
1    banana
2     mango
3     lichi
4     apple
5    banana
6     mango
7     lichi
dtype: category
Categories (5, object): ['apple', 'banana', 'lichi', 'mango', 'royal']

In [24]:
#remove a categoey
c=c.cat.remove_categories("apple")
print(c)

0       NaN
1    banana
2     mango
3     lichi
4       NaN
5    banana
6     mango
7     lichi
dtype: category
Categories (4, object): ['banana', 'lichi', 'mango', 'royal']